body{
    margin: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: white;
    box-shadow: 0px 5px 10px #ccc;
    z-index: 10;
}

.logoimg{
    max-width: 105px;
    min-width: 210px;
}
@media screen and (max-width:972px) {
    .logoimg{
        min-width: 105px;
    }
}

.nav-bar i{
    font-size: 30px;
}

.nav-left{
    padding: 5px;
    justify-content: space-between;
    /* border-bottom: 1px solid #ccc; */
}
@media screen and (max-width:972px) {
    .nav-left{
            border-bottom: 1px solid #ccc;
    }
    
}
.search{
    display: flex;
    justify-content: flex-end;
}
.min-max-nav{
    justify-content: flex-end;
}
.nav-links{
    justify-content: flex-end;

}
.nav-right{
    padding-top: 25px;
}
.nav-right a{
    color: black;
    text-decoration: none;
}
.nav-right i{
    font-size: 1.2rem;
}

@media screen and (max-width:972px) {
    .links{
        justify-content: space-between;
        align-items: center;
    }
}
@media screen and (min-width:972px) {
    .links{
        justify-content: flex-end;
    }
}
@media screen and (min-width:972px) {
    .links-icon{
        justify-content: flex-end;
    }
    
}
/* ----------------------------------nav結束---------------------------- */
main{
    margin-bottom: 5rem;
}
.main-section{
    position: relative;
}
.main-img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.btn{
    transform: translateY(-50vh);
    justify-content: space-between;
    font-size: 30px;
}
/* ----------------------------------主圖結束---------------------------- */
mid-nav{
    text-align: center;
}
.title-border h5{
    display: inline-block;
    margin: 10px;
    padding: 0px 10px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
mid-nav a{
    color: #000;
}
mid-nav a:hover h5{
    color: #fc391d;
    border-left: 2px solid #fc391d;
    border-right: 2px solid #fc391d;
}
/* .life .mid-img{
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
} */

/* ----------------------------------中間欄結束---------------------------- */
.news{
    margin: 60px auto;
}
.news .menu .row{
    justify-content: center;
}
.latest{
    color: #fc391d;
}
.news .menu{
    margin-bottom: 20px;
    border-bottom: 3px solid #fc391d;
}
.newstext{
    margin: 5px 0;
}
.news a{
    color: #fc391d;
    text-decoration: none;
}
.news a h5{
    color: #000;
}
.news p{
    color: #666;
}
.news .city:hover h5{
    color: #fc391d;
}
.city{
    display: flex;
    flex-direction: column;
}
.more-btn{
    text-align: center;
    background-color: #fc391d;
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    margin: 20px auto;
}
.more-btn a{
    text-decoration: none;
    color: white;
}
.more-btn:hover{
    background-color: coral;
}
/* ----------------------------------最新/熱門活動結束---------------------------- */
h2{
    text-align: center;
    margin: 10px auto;
}
.exhibition-right{
    flex-wrap: wrap;
}
.exhibition{
    margin-bottom: 60px;
}
.exhibition .title{
    border-bottom: 3px solid #fc391d;
    margin-bottom: 20px;
}
.exhibition-text{
    margin: 5px 0;
}
.exhibition-text p{
    color: #fc391d;
}
/* ----------------------------------展覽活動結束---------------------------- */
.main-activity{
    background-color: #ffddd7;
    padding: 60px 0;
}
.main-activity a{
    color: #000;
    text-decoration: none;
}
.main-activity a:hover h5{
    color: #fc391d;
}
/* ----------------------------------專題活動結束---------------------------- */
.designer{
    margin: 60px auto;
}
.designer .title{
    border-bottom: 3px solid #fc391d;
    margin-bottom: 20px;
}
.d-right{
    flex-wrap: wrap;
}
.d-text{
    margin: 5px 0;
}
.d-text p{
    color: #fc391d;
}
/* ---------------------------------創意人結束---------------------------- */
.books{
    padding: 60px 0;
}
.books h2{
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 3px solid #fc391d;
}
.books .n-mag,.n-b{
    flex-wrap: wrap;
    background-color: #ededed;
}
.b-text,.b-img{
    padding: 20px 20px;
}
.books h5,.small{
    font-weight: bolder;
}
.b-btn{
    text-align: center;
    background-color: #fc391d;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    margin: 30px auto;
}
.b-btn a{
    text-decoration: none;
    color: white;
}
.b-btn:hover{
    background-color: coral;
}
/* ---------------------------------新刊新書結束---------------------------- */
footer{
    text-align: center;
    background-color: #000;
    padding: 60px 0;
}
footer a,footer p{
    color: #888;
}
footer .links a{
    text-decoration: none;
}
footer .links a:hover{
    color: #ccc;
}
